
/* GENERAL */

*,
*::before,
*::after{
  box-sizing: inherit;
}

*{
  box-sizing: border-box;
}

html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}
body{
  display: flex;
  background-color:#F9FBFF;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 400;
}
a{
  text-decoration: none;
}

/* STICKY-FOOTER */

.site-main{
  flex-grow: 1;
}

.arabic{
  font-family: "SF Pro Arabic";
}
