.services {
    padding-bottom: 100px;
}

.services-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #1D2449;
    
}
.services-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.services-item {
    padding: 24px 32px;
    width: 390px;
    height: 215px;
    background: #fff;
    border: 1px solid #0000001A;
    border-radius: 8px;
}

.services-item__title {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    
}
.services-item__title::before{
    margin-right: 16px;
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background-image: url("../../images/spark-icon.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
}
.services-item__text {
    margin: 0;
    margin-top: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1D2449;
}
@media only screen and (max-width: 920px) {
    .services-title{
        font-size: 26px;
    }
}

@media only screen and (max-width:870px) {
    .services-list{
        flex-direction: column;
    }
    .services-title{
        flex-direction: column;
    }
    
}